.card-main {
  display: grid;
  border-radius: 10px;
  gap: 5px;
  align-items: center;
  .card-title {
    border: 1px solid #212121;
    height: 40px;
    width: 100%;
    font-size: 30px;
    font-family: system-ui;
    font-weight: 500;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .container {
    margin-top: -5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    height: 100%;
    width: auto;
  }

  .card {
    border: 1px solid #212121;
    border-radius: 10px;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    height: 290px;
    width: 100%;
    cursor: pointer;
    .year {
      font-family: system-ui;
      font-size: 16px;
      font-weight: 600;
    }
    .colorName {
      font-family: system-ui;
      font-size: 16px;
      font-weight: 400;
    }
    .colorCode {
      margin-top: -15px;
      font-family: system-ui;
      font-size: 15px;
      font-weight: 600;
    }
    .colorPatone {
      margin-top: -15px;
      font-family: system-ui;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .btn-nav {
    margin-top: 1px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #212121;
    border-radius: 10px;
    .btn-atras{
      border: none;
      background-color: #ffffff;
      border-radius: 10px;
    }
    .btn-siguiente{
      border: none;
      background-color: #ffffff;
      border-radius: 10px;
    }
  }
}
